<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>More Recipes</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark navbar-bg-color fixed-top">
    <a class="navbar-brand navbar-brand-color" href="#">More Recipes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto"></ul>

        <div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button">Sign Up</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button">Sign In</button>
        </div>

    </div>
</nav>

<div style="margin-top: 70px;"></div>
<div class="container">

    <!--<div style="">-->
        <!--<h4>More Recipes</h4>-->
    <!--</div>-->

    <div class="">
        <h1 class="text-center p-4"  style="margin-top: 130px; margin-bottom: 50px;    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 48px !important;
    line-height: 56px !important;
    letter-spacing: -0.8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #484848 !important;
    font-weight: 300 !important;">Awesome Recipes Just For You</h1>
        <form action="#" method="post" class="">

            <div class="input-group mt-2 mb-2 p-1">
                <input type="text" class="form-control p-3" placeholder="Try: 'Jollof Rice' " aria-describedby="basic-addon2">
                <input type="submit" value="SEARCH" class="btn btn-primary input-group-addon">
            </div>
        </form>
    </div>

    <div style="margin-top: 50px; margin-bottom: 50px;"></div>

    <div>
        <h3 style="color: #484848; font-family: 'Roboto', sans-serif; font-size: 32px; font-weight: 500;">Most popular recipes</h3>
    </div>
    <div class="card-deck">
        <div class="card mt-1">
            <img class="card-img-top" src="./img/noodles.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="card-footer custom-card-footer-bg">
                    <p class="card-text"><small class="text-muted">30 views . 20 votes . 42 reviews</small></p>
                    <a href="#" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
        <div class="card mt-1">
            <img class="card-img-top" src="./img/noodles.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">30 views . 20 votes . 42 reviews</small></p>
                    <a href="#" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
        <div class="card mt-1">
            <img class="card-img-top" src="./img/noodles.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">30 views . 20 votes . 42 reviews</small></p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>

            <!--<div class="card-footer">-->
            <!--<small class="text-muted">Last updated 3 mins ago</small>-->
            <!--</div>-->
        </div>
    </div>


    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>
</html>


