<!DOCTYPE html>
<html lang="en">
<head>
<script src="./js/w3.js"></script>
<div w3-include-html="header.html"></div>

    <div class="margin-top-50">
        <h1 class="text-center p-4 center-hero-title">My Categories</h1>
    </div>

    <div class="container">

       <div class="row">
           <div class="col-sm-6 mb-4">
              <form action="#" method="post">
                    <div class="mb-4">
                            <label for="">Name:</label>
                            <input type="text" class="form-control">
                        </div>
          
                        <div>
                          <label for="">Favorite Recipe:</label>
                          <div class="clearfix"></div>
                          <select name="" id="" class="form-control mb-4">
                              <option value="">Select favorite recipe</option>
                              <option value="party-rice">Party rice</option>
                              <option value="party-rice">Fried rice and plantain</option>
                          </select>
                      </div>
                      <input type="submit" value="Add" class="btn btn-primary btn-primary-color">
              </form>
           </div>

           <div class="col-sm-6 float-right mb-4">
                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Party jollof</td>
                            <td>Occasions</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
           </div>
       </div>

    </div>
    
<script>w3.includeHTML();</script>
<script src="./js/fontawesome.js"></script>
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</body>
</html>