<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>More Recipes</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    </style>
    <script src="https://use.fontawesome.com/d8c50d4665.js"></script>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-md navbar-dark navbar-bg-color fixed-top">
            <a class="navbar-brand navbar-brand-color" href="#">More Recipes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto"></ul>

                <div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button">Sign Up</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button">Sign In</button>
                </div>
            </div>
     </nav>

    <div style="margin-top: 50px;"></div>

    <div class="overlay" style="position: relative">
        <div class="jumbotron recipe-header-background" style="background: url('./img/noodles.jpg');">
            <div class="container">
                <h1 class="display-3 recipe-title">Recipe: Party Jollof</h1>
                <p class="recipe-author"><em>By: John Doe</em></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="mb-4">
                <span class="recipe-title">Recipe and Ingredients</span>
                <span class="float-right recipe-ratings-right text-muted">30 Views <span class="big-pipe">|</span> 42 Reviews <span>|</span> 30 Favorites </span>    
        </div>

        <!--<div class="dropdown-divider"></div>-->

        <!--<h3 class="recipe-instructions mt-4 mb-4">Ingredients:</h3>-->

       <div class="row">
           <div class="col-sm-6">
               <table class="table table-striped">
                   <thead>
                   <tr>
                       <!--<th>#</th>-->
                       <th>Quantity</th>
                       <th>Name</th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr>
                       <!--<th scope="row">1</th>-->
                       <td>Mark</td>
                       <td>Otto</td>

                   </tr>
                   <tr>
                       <!--<th scope="row">2</th>-->
                       <td>Mark</td>
                       <td>Otto</td>

                   </tr>

                   <tr>
                       <!--<th scope="row">3</th>-->
                       <td>Mark</td>
                       <td>Otto</td>

                   </tr>
                   <tr>
                       <!--<th scope="row">4</th>-->
                       <td>Mark</td>
                       <td>Otto</td>

                   </tr>

                   </tbody>
               </table>
           </div>

           <div class="col-sm-6 float-right">
               <img src="./img/noodles.jpg" class="img img-fluid" style="" alt="">
               <span class="text-muted form-text text-center"><em>Food is ready</em></span>
           </div>
       </div>

        <div class="mt-5">
            <h3>Directions</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti doloremque ea esse excepturi hic maxime, neque placeat reiciendis! Aspernatur beatae eaque eius eligendi hic, ipsam magnam nihil pariatur quae rerum?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur distinctio fuga ipsam iste magni nihil odio pariatur provident tenetur veniam! Accusantium assumenda inventore iusto labore odio omnis sit, unde ut?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi aspernatur at blanditiis, commodi consequuntur earum enim natus nemo odit perferendis quam quibusdam reiciendis repellat sed sit veniam. Dolorum, eaque?
            </p>
        </div>

        <div class="mt-5 fav-link">
            <a href="#" class="font-awesome-fav"><i class="fa fa-heart-o fa-lg"></i> Favorite</a>
            &nbsp;
            <a href="#" class="font-awesome-delete"><i class="fa fa-trash-o fa-lg"></i> Delete</a>
        </div>

        <div class="mt-5">
            <h3>Was this recipe helpful?</h3>
            <a href="#" class="font-awesome-thumb"><i class="fa fa-thumbs-up fa-lg"></i> Upvote </a>
            &nbsp;
            <a href="#" class="font-awesome-thumb">
                <i class="fa fa-thumbs-down fa-lg"></i> Downvote
            </a>
        </div>

        <div class="mt-5">
            <a href="#" style="color: #FF7055">
                <i class="fa fa-envelope fa-lg"></i> <span>Receive email updates</span>
            </a>
        </div>

        <div class="mt-5">
            <h3 class="mb-4">Reviews</h3>
            <span class="text-muted"><em>John Doe said:</em></span>
            <p>This was an awesome recipe to try out...</p>
        </div>

        <div class="mt-5 mb-2">
            <h3>Drop a review</h3>
            <form class="" id="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="review-body"></label>
                        <textarea class="form-control" placeholder="How awesome was this recipe?" name="review-body" id="review-body" cols="30" rows="10"></textarea>
                        <div class="invalid-feedback">
                            Please add a review
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Submit form</button>
            </form>

            <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function() {
                    "use strict";
                    window.addEventListener("load", function() {
                        var form = document.getElementById("needs-validation");
                        form.addEventListener("submit", function(event) {
                            if (form.checkValidity() == false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add("was-validated");
                        }, false);
                    }, false);
                }());
            </script>
        </div>

    </div>
    

<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</body>
</html>