
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>More Recipes</title>
    <style>@import url('https://fonts.googleapis.com/css?family=Open+Sans');</style>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-md navbar-dark navbar-bg-color fixed-top">
            <a class="navbar-brand navbar-brand-color" href="index.html">More Recipes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto"></ul>

                <div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button">Sign Up</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button">Sign In</button>
                </div>
            </div>
     </nav>