<!DOCTYPE html>
<html lang="en">
<head>
<script src="./js/w3.js"></script>
<div w3-include-html="header.html"></div>

    <div style="margin-top: 70px;"></div>
    <div class="container">

        <div>
            <h2 class="text-center p-4">Awesome Recipes Just For You</h2>
        </div>

        <div class="card-deck">
            <div class="card mt-1">
                <img class="card-img-top" src="./img/noodles.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="card-footer custom-card-footer-bg">
                        <p class="card-text"><small class="text-muted">30 views . 20 votes . 42 reviews</small></p>
                        <a href="#" class="btn btn-primary">View Recipe</a>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <img class="card-img-top" src="./img/noodles.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <div class="card-footer">
                        <p class="card-text"><small class="text-muted">30 views . 20 votes . 42 reviews</small></p>
                        <a href="#" class="btn btn-primary">View Recipe</a>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <img class="card-img-top" src="./img/noodles.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">30 views . 20 votes . 42 reviews</small></p>
                    <a href="#" class="btn btn-primary">View Recipe</a>
                </div>

                <!--<div class="card-footer">-->
                    <!--<small class="text-muted">Last updated 3 mins ago</small>-->
                <!--</div>-->
            </div>
        </div>
    
<script>w3.includeHTML();</script>
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</body>
</html>
