<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>More Recipes</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    </style>
    <script src="https://use.fontawesome.com/d8c50d4665.js"></script>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    <!--Main top navigation menu start-->
    <nav class="navbar navbar-expand-md navbar-dark navbar-bg-color fixed-top">
            <a class="navbar-brand navbar-brand-color" href="index.html">More Recipes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto"></ul>

                <div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button">Sign Up</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button">Sign In</button>
                </div>
            </div>
     </nav>
    <!--Main top navigation menu stop-->

    <div style="margin-top: 70px;"></div>

    <div class="container">
        <div class="">
            <h1 class="text-center p-4 center-hero-text">Edit Recipe</h1>
        </div>

        <!--Default placeholder avatar image, user uploads new avatar-->
        <div class="col-md-6 mx-auto p-3 add_recipe-card text-center">
            <img src="./img/no-image.svg" width="350px" id="recipe-image-avatar" height="auto" class="img-fluid" alt="">
        </div>

        <!--Form to add recipe ingredients and quantity-->
        <div class="col-md-6 mx-auto p-3">
            <form action="#" method="post" enctype="multipart/form-data">
                    <input type="file" name="recipe-image" id="recipe-image" accept="image/*" required>
                    <h3 class="text-center p-4 center-hero-text">Add Ingredients</h3>

                    <div class="form-row" id="recipe-quantity">
                        <div class="col-sm-4 mb-1">
                            <select class="btn dropdown-toggle" name="quantity" id="quantity">
                                    <option value="">Select quantity</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                            </select>
                        </div>
                        <div class="col-sm-8">
                            <div>
                                <input type="text" name="ingredient[]" id="ingredient" class="form-control" required>
                            </div>
                        </div>
                    </div>
                <div class="float-right p-1">
                    <input type="button" value="Add More" id="add-more-ingredient">
                </div>

                <div class="clearfix"></div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="recipe-direction"></label>
                        <textarea class="form-control" placeholder="Give a detailed direction for this recipe" name="recipe-direction" id="recipe-direction" cols="30" rows="10" required></textarea>
                    </div>
                </div>

                <div class="float-right p-1">
                    <input type="submit" class="" value="Submit">
                </div>

            </form>
        </div>
    </div>

    <!--Custom script files and bootstrap core script files-->
    <script src="./js/main.js"></script>
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>
</html>