<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>More Recipes</title>
    <style>@import url('https://fonts.googleapis.com/css?family=Open+Sans');</style>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/fontawesome.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark navbar-bg-color fixed-top">
        <a class="navbar-brand navbar-brand-color" href="../index.html">More Recipes</a>
        <button class="navbar-toggler hamburger-color-primary" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <nav class="navbar-nav ml-auto main-nav-menu mt-1">
                <a href="../index.html" class="mr-2 btn nav-menu-active">Home</a>
                <div class="dropdown-divider"></div>
                <a href="sign-up.html" class="mr-2 btn">Sign Up</a>
                <div class="dropdown-divider"></div>

                <div class="dropdown show mr-5 main-nav-menu">
                    <a class="dropdown-toggle btn" style="display: block;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        John
                    </a>

                    <div class="dropdown-menu main-nav-menu width-5" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="profile.html">Profile</a>
                        <a class="dropdown-item" href="add_recipe.html">Add Recipe</a>
                        <a class="dropdown-item" href="category.html">Category</a>
                        <a class="dropdown-item" href="favorite_recipes.html">Favorite Recipes</a>
                        <a class="dropdown-item" href="my_recipes.html">My Recipes</a>
                    </div>
                </div>
            </nav>
        </div>
    </nav>

    <div class="container margin-top-70">

        <div style="margin: 100px auto 50px auto">
            <h2 class="text-center">Welcome Back</h2>
        </div>

        <div class="col-md-5 card mx-auto p-4">
            <div class="mx-auto">
                <form action="#" method="post">
                    <div class="row">

                        <div class="col-md-12 mb-2">
                            <label for="emailAddress" class="forms-label-color">Email Address</label>
                            <input type="text" class="form-control" id="emailAddress" name="emailAddress">
                        </div>

                        <div class="col-md-12 mb-2">
                            <label for="password" class="forms-label-color">Password</label>
                            <input type="text" class="form-control" name="password" id="password">
                        </div>


                        <div class="col-md-12 mb-2">
                            <label for="submit" class="forms-label-color"></label>
                            <input type="submit" id="submit" value="Sign In" class="btn btn-primary form-control btn-primary-color">
                            <p class="small text-muted mt-3 text-center">Don't have an account? <a href="sign-up.html">Sign Up</a></p>
                        </div>



                    </div>
                </form>
            </div>
        </div>
    
<script>w3.includeHTML();</script>
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</body>
</html>