@import 'helpers/reset';
@import 'helpers/variables';
@import 'forms/forms';

.border-test {
    border: 1px solid red;
}

body {
    font-family: 'Open Sans' , sans-serif !important;
}

.width-5 {
    width: 5px;
}

.nav-menu-active {
    border: 1px solid transparent;
    background-color: #FF7055;
}

.main-nav-menu .nav-menu-active {
    color: white !important;
}

.navbar-bg-color{
    background-color: $navbar-bg-color;
}

.navbar-brand-color { 
    color: $navbar-brand-color !important;
    font-weight: 700;
}

.custom-card-footer-bg {
    background-color: #ffffff !important;
}

.auth {
    width: 18rem;
    height: 40rem;
    border-radius: 1px;
    border: 1px solid grey;
}

.forms-label-color {
    color: #4a4a4a;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.primary-color {
    color: $primary-color;
}

/* Home styling */
a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}

.popular-text {
    color: #484848; 
    font-family: 'Roboto', sans-serif; 
    font-size: 32px;
    font-weight: 500;
}

.btn-primary-color {
    background-color: #FF7055 !important;
    border-color: transparent !important;
}

.navbar-brand-color {
    color: #FF7055 !important;
}

.main-nav-menu > a {
    color: #4a4a4a !important;
}

.main-nav-menu > a:hover {
    color: #FF7055 !important;
}

.hamburger-color-primary {
    color: $primary-color !important;
    background-color: $primary-color !important;
}

/* End Home */

/* Recipe Details Page start */
.recipe-overlay-text {
    position: absolute;
    width: auto;
}

.recipe-header-background {
    background: url('../img/noodles.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
    height: 350px !important;
}

.recipe-ratings-right {
    font-size: 15px;
}

.mt-5 .font-awesome-fav {
    color: #FF7055;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: #FF7055;
}

.font-awesome-fav a {
    @extend .font-awesome-fav;
    color: #FF7055;
}

.font-awesome-fav a:hover {
    @extend .font-awesome-fav;
    color: #FF7055;
}

.font-awesome-fav a:link {
    @extend .font-awesome-fav;
    color: #FF7055;
    text-decoration: none;
}

.font-awesome-fav a {
    @extend .font-awesome-fav;
    color: #FF7055;
}

.font-awesome-delete {
    color: #E60026;
}

.font-awesome-delete a:hover {
    color: #E60026;
}

.font-awesome-delete a:link {
    color: #E60026;
    text-decoration: none;
}

.recipe-title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #9a9a9a;
}

.recipe-author {
    @extend .recipe-title;
    font-weight: 400;
}
.font-awesome-thumb {
    color: black;
}
.overlay {
    position: relative;
}

.overlay:before{
    position: absolute;
    content:" ";
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(0,0,0,0.6);
}

.recipe-instructions {
    //text-decoration: underline;
}
/* Recipe Details Page stop */

//----------------------------------------

/* Authenticated user profile page start */
.user-profile-card {
    border: 2px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.03);
}
/* Authenticated user profile page stop */

//----------------------------------------

.center-hero-title {
    margin-top: 130px; margin-bottom: 50px;
    font-size: 48px !important;
    line-height: 56px !important;
    letter-spacing: -0.8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #484848 !important;
    font-weight: 300 !important;
}

/* Add Recipe */
.add_recipe-card {
    @extend .user-profile-card;
    background-color: rgba(0, 0, 0, 0.01);
}
